ul {
    margin:0;
    padding: 0;
}

@keyframes appearFadeIn {
    0% {
        display: none;
        opacity: 0
    }

    1% {
        display: inline-block;
        opacity: 0
    }

    100% {
        display: inline-block;
        opacity: 1
    }
}

.qnaInputContainer {
    margin: 10px 20px 15px 21px;
    display: flex;
    flex-flow: row;
    align-items: flex-start
}

.qnaInputContainer .icon {
    font-size: 15px;
    flex: 1 0 auto;
    margin-top: 10.25px
}

.qnaInputContainer #content {
    height: 100%;
    width: 100%;
    font-size: 17px;
    position: absolute;
    outline: 0;
    border: none;
    background: 0 0;
    padding: 0 0 0 5px;
    margin: 0;
    line-height: 1.8;
    resize: none;
    overflow: hidden;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.qnaInputContainer #content::-moz-selection {
    background: #EAEAEA
}

.qnaInputContainer #content::selection {
    background: #EAEAEA
}

.qnaInputContainer #content::-ms-clear {
    display: none
}

.qnaInputContainer #interpretResult {
    position: absolute;
    top: 500px;
    display: none
}

.qnaInputContainer #box {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 17px;
    line-height: 1.8;
    display: inline-block;
    flex: 1 1 auto
}

.qnaInputContainer + #cap {
    width: 100%;
    height: 3000px;
    position: absolute;
    left: 0;
    display: none;
    z-index: 100;
    margin-top: -18px
}

.qnaInputContainer #utterance {
    pointer-events: none;
    border: none
}

.qnaInputContainer #utteranceContent {
    font-size: 17px;
    display: inline-block;
    line-height: 1.8;
    padding-left: 5px
}

.qnaInputContainer .show {
    display: inline-block
}

.qnaInputContainer .term {
    color: #CCC;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.qnaInputContainer .term.bindings {
    pointer-events: auto
}

.qnaInputContainer .recognized .term-main {
    color: #666
}

.qnaInputContainer .space.row:first-child + .term {
    margin-left: 0
}

.qnaInputContainer .space.row + .term {
    margin-left: -4.7px
}

.qnaInputContainer .term.replacements .term-main {
    cursor: pointer;
    border-bottom: 2px solid #F2C811;
    padding-bottom: 1px
}

.qnaInputContainer .replacementDetail {
    font-size: 12px;
    color: #666
}

.qnaInputContainer .term-main {
    position: relative;
    display: inline-block;
    margin: 0;
    min-height: 6px;
    line-height: 1.2;
    color: #CCC
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.qnaInputContainer h2.space {
    margin-right: -1px
}

.qnaInputContainer .term.replacements .term-main.selected, .qnaInputContainer .term.replacements .term-main:hover {
    margin-bottom: -11px
}

.qnaInputContainer ul {
    display: none;
    position: absolute;
    text-decoration: none;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    background-color: #EAEAEA;
    margin-top: -2px;
    z-index: 101;
    font-weight: 400;
    line-height: 1.5;
}

.qnaInputContainer li {
    font-size: 14px;
    padding: 4px 20px 7px 10px;
    margin: 0;
    color: #666;
outline: 0;
vertical-align: baseline;
box-sizing: border-box;
list-style: none;
border-collapse: collapse;
border-spacing: 0;
border: none;
}

.qnaInputContainer li:hover {
    color: #333;
    background: #CCC
}

.qnaInputContainer li:hover .replacementDetail {
    color: #333
}

.qnaInputContainer li.selected {
    color: #333;
    background: #CCC
}

.qnaInputContainer li.selected .replacementDetail {
    color: #333
}

.qnaInputContainer .line {
    z-index: -1;
    display: block;
    position: absolute;
    top: -18px;
    height: 50px;
    min-width: 650px
}

